.mi-button{
    padding:10px 20px;
    background: #3b53c0;
    color: aliceblue;
    border-radius: 7px;
    user-select: none;
    margin: 3px;
    width: fit-content;
    height: fit-content;
    box-shadow: 5px 10px 10px 5px rgb(0, 0, 0, 0);
}

.mi-buttom:hover{
    background: #4a5eb6;
    transition: background 0.3s, transform 0.2s;

}

.mi-buttom:active{
    background: #132572;
    transform: scale(0.95);
}

.mi-buttom:success{
    background: #80FF80;
}

.mi-buttom:success:hover{
    background: #5dfc5d;
}

.mi-buttom:success:active{
    background: #3cda3c;
}